/* Write your CSS here */
.thumbnail {
  width: 200px;
  height: 120px;
}
.movie-item {
  padding: 10px;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.video-popup {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  /* background: #000; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.trigger-button {
  margin-top: 10px;
  padding: 8px 16px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
